/** @format */

.footer {
  background: #fbfcff;
  padding: 56px 0;
}
.footer > .social_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 56px;
}
.footer > .social_icons > img {
  cursor: pointer;
  transition: 0.25s all;
}
.footer > .social_icons > img:hover {
  opacity: 0.8;
  transform: translateY(-2px);
}
.footer > .call_section {
  margin-bottom: 36px;
}
.footer > .call_section > h6 {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #00227f;
  margin-bottom: 16px;
}
.footer > .call_section > a {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #000920;
  margin: 0;
  margin-bottom: 16px;
  transition: 0.25s all;
  cursor: pointer;
  text-decoration: none;
}
.footer > .call_section > a:hover {
  opacity: 0.8;
  transform: translateY(-2px);
}
.footer > .call_section > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 12px;
}
.footer > .call_section > div > img {
  transition: 0.25s all;
  cursor: pointer;
  width: 180px;
  height: 52px;
}
.footer > .call_section > div > img:hover {
  opacity: 0.8;
  transform: translateY(-2px);
}
.footer > .call_section > button {
  background: linear-gradient(180deg, rgba(172, 0, 253, 0.85) 0%, #9100d5 100%);
  border-radius: 16px;
  padding: 16px 54px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fbfcff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.25s all;
  width: 369px;
  margin-bottom: 52px;
}
.footer > .call_section > button:hover {
  opacity: 0.8;
  transform: translateY(-2px);
}
.footer > .privacy_policy {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #00227f;
}
@media screen and (max-width: 1100px) {
  .footer {
    padding: 10% 0;
  }
  .footer > .social_icons {
    gap: 16px;
    margin-bottom: 5%;
  }
  .footer > .social_icons > img {
    width: 8vw;
  }
  .footer > .call_section {
    margin-bottom: 10%;
  }
  .footer > .call_section > h6 {
    font-size: 4vw;
    line-height: 150%;
    margin-bottom: 2%;
  }
  .footer > .call_section > a {
    font-size: 3.5vw;
    line-height: 100%;
    margin-bottom: 5%;
  }
  .footer > .call_section > div {
    gap: 8px;
    margin-bottom: 5%;
  }
  .footer > .call_section > div > img {
    width: 40%;
    height: auto;
  }
  .footer > .call_section > button {
    padding: 8px 24px;
    font-size: 2vw;
    line-height: 1;
    width: auto;
    margin-bottom: 5%;
  }
  .footer > .privacy_policy {
    font-size: 3vw;
  }
}
