/** @format */

@import url("http://fonts.cdnfonts.com/css/clash-display");

body {
  margin: 0;
  font-family: "Clash Display", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: "Clash Display", sans-serif;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Clash Display", sans-serif;
  background: #fbfcff;
  scroll-behavior: smooth;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 63px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
