/** @format */

.scan {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  margin-bottom: 76px;
}
.scan > img {
  max-width: 591px;
}
.scan > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 362px;
}
.scan > div > h6 {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #00227f;
  margin-bottom: 24px;
}
.scan > div > p {
  margin: 0;
  font-size: 18px;
  line-height: 36px;
  color: #000920;
  text-align: left;
}
