/** @format */

.scan {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  margin-bottom: 76px;
}
.scan > img {
  max-width: 591px;
}
.scan > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 362px;
}
.scan > div > h6 {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #00227f;
  margin-bottom: 24px;
}
.scan > div > p {
  margin: 0;
  font-size: 18px;
  line-height: 36px;
  color: #000920;
  text-align: left;
}

@media screen and (max-width: 1100px) {
  .scan {
    gap: 10%;
    margin: 0 20px;
    margin-bottom: 20%;
    flex-direction: column-reverse;
  }
  .scan > img {
    max-width: 100%;
  }
  .scan > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  .scan > div > h6 {
    font-size: 6vw;
    line-height: 100%;
    color: #00227f;
    margin-bottom: 5%;
  }
  .scan > div > p {
    font-size: 3.5vw;
    line-height: 150%;
    text-align: center;
  }
}
